<div class="row">
    <h1>Proyectos realizados</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Portfolio para Argentina Programa</h2>
                <p>Proyecto integrador final para Argentina programa</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/banner.png" class="img-fluid img-proyecto">
            </div>
        </div>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte3">
                <h2>Logotipos para emprendimientos</h2>
                <p>Logos para emprendimientos<br> Lavadero de autos <br> Churreria <br> Viandas diarias <br> Venta de accesorio para iphone</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg3 offset-md-1 offset-lg-1 parte4">
                <img src="../../../assets/LOGOS.png" class="img-fluid img-logo">
            </div>
        </div>
</div>