.row{
    padding: 20px;
}
h1{
    color:#8451E9;
    text-align: center;
    font-size: 50px;
}
h2{
    color: #8451E9;
    font-style: italic;
    font-size: 30px;

}
.contendor{
    width: auto;

}
.parte1 {
    text-align: justify;
}
.parte2 {
    float: right;
    
}
.img-proyecto{
    box-shadow: 10px 10px 30px gray;
}

p{
    font-size: 17px;
}