<div class="row">
    <h1>Hard and Soft kills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="70"
    [imageSrc]="'../assets/html-5.png'"
    [showImage]="true"    
    [imageHeight]="50"
    [imageWidth]="50"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#8451E9'"
    [innerStrokeColor]="'#FF66C4'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="70"
        [imageSrc]="'../assets/css3.png'"
        [showImage]="true"    
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="11"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#8451E9'"
        [innerStrokeColor]="'#FF66C4'"
        [animation]="true"
        [animationDuration]="900"
      ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="60"
            [radius]="70"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"    
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#8451E9'"
            [innerStrokeColor]="'#FF66C4'"
            [animation]="true"
            [animationDuration]="900"
          ></circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="80"
                [radius]="70"
                [imageSrc]="'../assets/angularjs.png'"
                [showImage]="true"    
                [imageHeight]="50"
                [imageWidth]="50"
                [outerStrokeWidth]="11"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#8451E9'"
                [innerStrokeColor]="'#FF66C4'"
                [animation]="true"
                [animationDuration]="900"
              ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="50"
                    [radius]="70"
                    [imageSrc]="'../assets/hello.png'"
                    [showImage]="true"    
                    [imageHeight]="50"
                    [imageWidth]="50"
                    [outerStrokeWidth]="11"
                    [innerStrokeWidth]="5"
                    [outerStrokeColor]="'#8451E9'"
                    [innerStrokeColor]="'#FF66C4'"
                    [animation]="true"
                    [animationDuration]="900"
                  ></circle-progress>
                    </div>
                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                        [percent]="100"
                        [radius]="70"
                        [imageSrc]="'../assets/tejpg.jpg'"
                        [showImage]="true"    
                        [imageHeight]="70"
                        [imageWidth]="70"
                        [outerStrokeWidth]="11"
                        [innerStrokeWidth]="5"
                        [outerStrokeColor]="'#8451E9'"
                        [innerStrokeColor]="'#FF66C4'"
                        [animation]="true"
                        [animationDuration]="900"
                      ></circle-progress>
                        </div>
</div>