.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoap {
    width: 150px;
}
img{
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
.btn{
    border-width: medium;
}

/*--- para la vista del celular ---*/
@media (max-width: 575px){
.container{
    flex-direction: column;

}
 .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .redes img {
    margin: 0.5em;
 }
 button{
    align-items: center;
    margin-left:35% ;
    
 }
}